/*body{
    background-color: red;

}*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#home{
height: 370px;
flex-direction: column;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
#services{
flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px;
    border-radius: 28px;
    background: silver;
    margin-bottom: 20px;
    
}
#clients{
   flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 2px 6px;
    height: auto;
 }
 #contactbox form{
     width: 80%;
 }
.primary{
font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}